.title {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  text-align: center;
}
.welcomer {
  position: relative;
  background-color: #202020;
  margin: 0 auto;
  padding: 0 50px;
  width: fit-content;
  border-radius: 40px;
  text-align: center;
  gap: 4px;
}
.welcomer h1 {
  padding: 0;
  margin: 0;
}

.navbar {
  margin-top: 15px;
}

.focus {
  box-sizing: border-box;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  width: 40dvw;
}
.focus-left {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}
.focus-right {
  grid-row: 1 / span 2;
  grid-column: 3 / span 1;
  height: 100%;
}

.inactivated {
  pointer-events: none;
  opacity: 0.5;
}
.hidden {
  display: none;
}

.background-one {
  box-sizing: border-box;
  background-color: #303030;
  inset: 0;
  margin: auto;
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-columns: 30dvw 40dvw 30dvw;
  grid-template-rows: 150px 1fr;
  overflow: hidden;
}

.cache-actions {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-self: center;
  border-radius: 100px;
  width: 200px;
  height: 35px;
  box-sizing: border-box;
  margin-top: 0;
  padding-top: 0;
  font-family: 'Caveat', cursive;
}
.cache-actions > div {
    text-align: center;
    background-color: #000000;
    margin-top: 4px;
    padding: 5px 10px;
    border-radius: 20px;
    color: #ffffff;
    text-shadow: 0px 0px 15px #ffd700;
}
.cache-actions button {
  margin: 0px -5px;
  border-radius: 10px;
  outline-color: transparent;
  background-color: transparent;
}
.cache-actions .save {
  box-shadow: 0 0 20px -5px #ffffff;
  transition: all 0.5 ease;
}
.cache-actions .save:hover {
  box-shadow: inset 0 0 5px #ffffff;
  transition: all 0.5 ease;
}
.cache-actions .save:active {
  box-shadow: inset 0 0 20px -5px #ffffff;
  transition: all 0.5 ease;
}
.cache-actions .load {
  box-shadow: inset 0 0 20px -5px #ffffff;
  transition: all 0.5 ease;
}
.cache-actions .load:hover {
  box-shadow: inset 0 0 5px #ffffff;
  transition: all 0.5 ease;
}
.cache-actions .load:active {
  box-shadow: 0 0 20px -5px #ffffff;
  transition: all 0.5 ease;
}


.multi-stream {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  overflow-y: auto;
  position: relative;
}
.parchment-bg {
  background-image: url('./assets/parchment_center.jpg'); 
  background-size: 100% 1.5em;
  background-attachment: local;
  background-repeat: repeat-y;
}
.white-bg {
  background-color: #ffffff;
  box-shadow: inset 50px 0px 100px -50px #303000,
              inset -50px 0px 100px -50px #303000;
}
.stream-box {
  max-height: 100%;
  position: relative;
  width: 36ch;
  padding: 2ch 2ch;
  min-height: 300px;
  max-height: 100%;
  overflow-x: auto;
  overflow-y: clip;
  inset: 0;
  margin: auto;
}
.stream-text{
  position: relative;
  width: 100%;
  font-size: 12px;
  max-height: 100%;
  padding: 2ch 2ch;
  overflow-y: auto;
  word-spacing: 3px;
  letter-spacing: -0.14ch;
  word-break: break-word;
}
.stream-title {
  position: relative;
  text-align: center;
  border-bottom: 2px double black;
}
.stream-title h1 {
  position: relative;
  margin: auto;
  padding: 0 2ch;
  border: 0.5px double;
  box-shadow: 4px 4px 20px -5px;
}
.stream-title h1,
.stream-title input{
  margin-top: 30px;
  font-family: 'Caveat', cursive;
  text-shadow: 0px 0px 4px black;
  color: #000000;
  width: fit-content;
  align-self: center;
  text-align: center;
}
.stream-title .display-top-box{
  position: absolute;
  width: 100%;
  height: 50px;
}
.display-stream-buttons{
  position: absolute;
  left: 0px;
}
.display-top-box button.delete-hide {
  position: absolute;
  background-color: #400000;
  transform: scale(0.1) translateX(20px);
  border: 2px solid black;
  opacity: 0;
  pointer-events: none;
  width: max-content;
  top: 2px;
  right: 0px;
  transition: all 0.5s ease;
}
.display-top-box button.delete-reveal {
  position: absolute;
  background-color: #ff0030;
  border: 2px solid black;
  transform: scale(1.0) translateX(0px);
  pointer-events: all;
  opacity: 1;
  width: max-content;
  top: 2px;
  right: 0px;
  transition: all 0.5s ease;
}
.delete-box .knuckle{
  background-color: #500000;
  right: 5px;
}

button.new-stream-btn {
    box-shadow: none;
    border-radius: 20px;
    min-width: 6ch;
    overflow: hidden;
    background-color: #408040;
    max-height: 3ch;
    flex-grow: 1;
}

.streamlist-box {
  box-sizing: border-box;
  max-height: 100%;
  display: flex;
  width: 100%;
  max-width: 750px;
  padding: 10px;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
.streamlist {
  flex-grow: 1;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  overflow: auto;
}
.streambtn {
  padding: 2ch 1ch;
  margin: 0px 2ch;
  border-radius: 4ch;
  font-family: 'Caveat', cursive;
  font-size: 20px;
  box-shadow: inset 0 0 10px -4px #000040;
  border: 1px solid #004040;
  transition: border 1.0s ease;
}
.streambtn:hover {
  border: 1px solid #00ffff;
  box-shadow: 0 0 20px -4px #004040;
  transition: border box-shadow 0.4s ease;
}
.streamlist-box > button {
  box-sizing: border-box;
  min-height: 50px;
  align-content: stretch;
  border-radius: 10px;
  margin: 3px;
  flex: 1 1 14ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.streamlist-box input {
  max-height: 3ch;
  background-color: rgba(200,200,200,0.4);
  text-align: center;
  flex: 1 1 70%;
  border-radius: 5px;
}
.paragraph{
  text-indent: 4ch;
  display: block;
}

.focus-writer {
  box-sizing: border-box;
  height: calc (100dvh - 150px);
  display: flex;
  width: 100%;
  min-width: 28ch;
  flex-direction: column;
  justify-content: flex-start;
}
.focus-writer textarea {
  z-index: 25;
  background-image: url('./assets/blue_lined.jpg');
  background-size: 100% 1.5em;
  background-attachment: local;
  background-repeat: repeat-y;
  padding: 1dvw;
  margin: 8px auto;
  width: 36ch;
  min-height: 4em;
  font-family: 'Syne Mono', monospace;
  font-size: 1.94dvw;
  resize: none;
  overflow: hidden;
  line-height: 1.5;
}

.handbar {
  grid-row: 1; 
  grid-column: 1;
  width: fit-content;
  box-sizing: border-box;
  border: 1px dashed white;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Caveat', cursive;
}

.timers {
  margin-top: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 250px;
}
.delay-set-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.delay-set {
  min-width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 4px;
  background-color: #ffff00;
  color: #141414;
}
.delay-set span{
  min-width: 6ch;
  font-size: 12px;
  padding-top: 4px;
}
.delay-set button {
  padding: 1px 4px;
  border-radius: 8px;
}
.delay-set .minus{
  background-color: #be1410;
  color: #ffffff;
}
.delay-set .plus{
  background-color: #008030;
  color: #ffffff;
}
div.delay-set > span {
  font-family: 'Syne Mono', monospace;
  flex-grow: 1;
}
.toggles {
  display: flex;
  justify-content: space-between;
}
.toggles span{
  text-shadow: 0px 0px 5px #000000;
  color: #a9a9a9
}
.checktog {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0px;
  width: fit-content;
  align-self: flex-end;
  align-items: center;
  justify-content: space-between;
}
.checktog input{
  accent-color: transparent;
  opacity: 0.5;
}

.finger {
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.knuckle {
  position: absolute;
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px) scale(1) rotate(0deg);
  transition: all 0.8s ease-out;
}
.finger:focus-within > .knuckle{
  opacity: 0;
  pointer-events: none;
  transform: translateY(80dvh) scale(0.1) rotate(1080deg);
  transition: all 1.0s ease-in;
}
.nail {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transform: translateY(80dvh) scale(0.1) rotate(-1080deg);
  transition: all 1.0s ease-in;
}
.finger:focus-within > .nail {
  position: absolute;
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px) scale(1) rotate(0deg);
  transition: all 0.8s ease-out;
}

.tiny-fun {
  color: white;
  position: relatiev;
  min-width: 50%;
  margin-top: 20px;
  margin-bottom: 6px;
}
.tiny-fun button {
  height: 20px;
  font-size: 10px;
  min-width: 3ch;
  box-sizing: border-box;
}
.parchment-bg button {
  background-color: #905030;
  color: white;
}
.white-bg button {
  background-color: #ffffff;
  color: black;
}
.tog-off {
  border: 2px solid #a00000;
  transition: all 0.6s ease;
}
.tog-off:hover {
  border: 2px solid #009014;
  transition: all 0.6s ease;
}
.tog-on {
  border: 2px solid #003010;
  transition: all 0.6s ease;
}
.tog-on:hover {
  border: 2px solid #ff0000;
  transition: all 0.6s ease;
}
.anim-spacing {
  letter-spacing: 20px;
  padding-left: 20px;
  transition: all 0.6s ease;
}
.anim-spacing:hover {
  letter-spacing: 17px;
  padding-left: 17px;
  transition: all 0.6s ease;
}
.anim-spacing-off:hover {
  letter-spacing: 6px;
  padding: 3px 0;
  padding-left: 6px;
  transition: all 0.6s ease;
}
.anim-spacing-off {
  padding: 3px 0;
  letter-spacing: 0px;
  transition: all 0.6s ease;
}
.anim-flip-on {
  transform: rotate(180deg);
  transition: all 0.6s ease;
}
.anim-flip-on:hover {
  transform: rotate(175deg);
  transition: all 0.6s ease;
}
.anim-flip-off {
  transform: rotate(0);
  transition: all 0.6s ease;
}
.anim-flip-off:hover {
  transform: rotate(5deg);
  transition: all 0.6s ease;
}


.masonry {
  box-sizing: border-box;
  column-count: 3;
  column-gap: 1rem;
}
.textitem {
  box-sizing: border-box;
  break-inside: avoid; 
  width: 28ch;
  margin-bottom: 1rem;
}


button {
  box-shadow: 0 0 10px;
  border-color: transparent;
  outline-color: transparent;
  background-color: #4080a0;
  color: white;
  font-family: 'Syne Mono', monospace;
}

span {
  color: #303030;
}

h1 {
  color: white;
  text-shadow: 0px 0px 4px, 0px 0px 2px black;
}


.flex-wide {
  display: flex;
  justify-content: space-between;
}

.flex-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-top-down {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-even {
  display: flex;
  justify-content: space-around;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.background-one > div{
  box-shadow: 0 0 25px -10px rgba(0,0,0,0.5);
}
div.streamlist{
  background-color: black;
  box-shadow: inset 0 0px 80px rgba(255,255,255,0.2),
              inset 0 0px 80px rgba(255,255,255,0.2);
}
button.transparent{ 
  background-color: transparent;
  color: #000000;
}
